<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clube DesAstro</title>
    <link rel="stylesheet" href="home.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
    </style>
</head>
<body>
    <header class="cabecalho">
        <h1 class="texto_cabecalho">O melhor site da galáxia para compar seu Planeta, aproveite as promoções de extermínio </h1>
    </header>

    <section class="caixa">

        <div class="texto_nome">

            <p>Clube DesAstro</p>

        </div>

        <div class="infomacoes">

            <li class="caixa_resposta">
                <p>Nome: <p>
                <p>Planeta: </p>
                
                <label for="Alegico a gluten?">
                    <input type="checkbox"> 
                </label>
                

                <a href="..">Entrar</a>


            </li>


        </div>

    </section>

    
    
</body>
</html>
